:root{
    --monserrate : 'Montserrat', sans-serif;
    --orange: #bd910b;
    --azul: #11314b;
    --white: #ecf0f3;
    --black: #000000;
    --sombra : #a09f9f36;
}


/*estilos de google*/
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 62.5%;
    list-style: none;
    text-decoration: none;
}
img{
    width: 100%;
}

.menuHam{
    display: flex;
    justify-content: space-between;
    color: var(--orange);
}

.menuHam span{
    display: none;
    font-size: 4rem;
    cursor: pointer;
    transition: all .30s ease-in-out;
}

.menuHam a:hover,
.menuHam span:hover{
    background-color:transparent;
    transform: scale(1.1);
}


.container-redes img{
    width: 2rem;
    margin: 1rem;

}

a{
    font-size: 1.5rem;
    color: var(--white);
    text-decoration: none;
    text-decoration: none;
    transition: all 0.30s ease-in ;
    margin-right: 5px;
    padding: 5px 8px;
}

a:hover,
.home a:hover{
    background-color: var(--orange);
    transform: scale(.90);
    color: var(--white);
    transition: all .40s ease-in-out;
    border-radius: 20px;
}

header{
    background-color: var(--azul);
    padding: 8px 30px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 2;
}

aside{
    border-bottom: 1px solid var(--white);
    padding-top: 5px;
}

aside ul li{
    display: inline-block;
    margin-right: 10px;
    font-family: var(--monserrate);
}

aside ul li img{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.linkder{
    text-align: right;
}

nav{
    margin: 0px 20px;
    padding: 3px;
    display: flex;
    align-items: center;
}

nav img{
    width: 200px;
}

nav ul{
    display: table;
    margin: 0px auto 0px;
}

nav ul li{
    display: inline-block;
    margin: 0px 10px;
}

.home a{
    background-color: var(--orange);
}

.phone{
    font-size: 1.4rem;

    color: var(--white);
}

.carousel{
    margin-top: 60px;
    z-index: 1;
    overflow: hidden;
}

.carousel a:hover{
    background-color: var(--sombra);
    transform: scale(.90);
    transition: all .40s ease-in-out;
    border-radius: 50%;
    transform: scale(1.5);
}

.portfolio{
    padding: 2rem 3rem;
    margin: 0px auto;
}

.descrip{
    margin: 1.5rem 2rem;
    text-align: center;

}

.descrip span{
    color: var(--orange);
    font-family: var(--monserrate);
    font-weight:600;
    font-size: 1.6rem;
}

.descrip h2{
    font-weight: 800;
    margin-top: 10px;
}

.descrip p{
    color: var(--black);
    font-weight: 300;
    font-size: 1.6rem;
}

.portfolio  .container-list{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 50px auto;
}

.portfolio ul .list:nth-child(1){
    background-color: var(--orange);
    color: var(--black);
    transition: all .40s ease-in-out;

    color: var(--white);
}

.portfolio ul .list{
    color: var(--black);
    transition: all .40s ease-in-out;
    font-size: 1.8rem;
    cursor: pointer;
    background-color: var(--white);
    padding: 5px 5px;
}

.portfolio ul .list:hover{
    background-color:var(--orange);
    border-radius: 15px;
}

.conatiner-carts-casas{
    border-top: 1px solid var(--black)54;
    padding-top: 2rem;
}

.conatiner-carts-casas .precio{
    background-color: var(--azul);
    display: block;
    color: var(--white);
    text-align: center;
    font-size: 1.4rem;
    padding: 4px 0px;
}

.casas h2{
    font-family: var(--monserrate);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px ;
    min-height: 45px;
}

.casas img{
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: 7px;
    box-shadow: 1px 1px 7px var(--black)b7;
}

.conatiner-carts-casas ul{
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 20px;
    padding: 0px 10px;
    text-align: center;

}

.conatiner-carts-casas ul li{
    margin-right: 20px;
    font-size: 1.3rem;
    color: #80878d;
    padding: 5px 3%;
}


.conatiner-carts-casas ul li:nth-child(2){
    border-right: 1px solid rgba(56, 49, 49, 0.39);
    border-left: 1px solid rgba(56, 49, 49, 0.39);
}

.conatiner-carts-casas .self{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px 10px 0px;
}

.conatiner-carts-casas .self img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.conatiner-carts-casas h4{
    font-size: 1.5rem;
    text-align: end;
}

.more{
    display: table;
    background-color: var(--orange);
    margin: 20px auto;
}

.more:hover{
    background-color: var(--orange);
    transform: scale(.90);
}

.container-aboutUs{
    margin: auto;
    background-color: var(--white);
    padding: 2rem 3rem;
}

.container-aboutUs h3{
    font-size: 3rem;
    font-weight: 900;
}

.container-aboutUs p:nth-child(2){
    font-size: 2.3rem;
    color: var(--orange);
    font-weight: 500;
}

.container-aboutUs p{
    font-size: 1.8rem;
    margin-bottom: 1.8em;
    line-height: 22px;

}

.beneficios{
    display: flex;
}

.beneficios ul{
    margin: 20px 50px 20px 0px;
    line-height: 3.3em;
    font-weight: 500;
    font-size: 1.5rem;
}

.container-aboutUs a{
    position: relative;
    display: table;
    background-color: var(--orange);
    padding: 10px;

}

.container-aboutUs li img{
    width: 20px;
    margin-right: 7px;
}


.container-follow{
    width: 100%;
    text-align: center;
    padding: 2rem 3rem;
}

.container-follow .title-follow{
    color: var(--orange);
    font-size: 2rem;
    font-weight: 600;
}

.container-follow h3{
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 6rem;
    margin-top: 5px;
}

.container-follow article{
    padding: 10px 15px;
    line-height: 22px;
    margin: 20px auto;
    max-height: 52rem;
    overflow: hidden;
    transition: all .30s ease-in-out;
    transform: scale(1);

}

.container-follow article:hover{
    translate: 0px -20px;
    transform: scale(1.1);
    transition: all .40s ease;
    color: var(--orange);
}


.container-follow article:hover .containerNum span{
    background-color: var(--orange);
    transform: scale(1.1)
}

.container-follow article img{
    width: 17rem;
}

.containerNum{
    position: relative;
    display: table;
    margin: 0 auto;
}


.container-follow article span{
    position: absolute;
    background-color: var(--azul);
    width: 40px;
    height: 40px;
    padding: 9px;
    color: var(--white);
    border-radius: 50%;
    right:0px;
    top: 4px;
    transition: all .30s ease-in-out;
}

.container-follow article h4{
    font-weight: 600;
    margin: 20px 0px;
}

.container-follow article p{
    font-size: small;
    color: #696e72;
}




/*banner*/
.banner-property{
    background-image: url(../../assets/img/bnnrglb-parllx.jpeg);
    background-attachment: fixed;
    height: 70vh;
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-property p{
    font-size: 5rem;
    color: var(--white);
    font-weight: 600;
}

.banner-property a{
    background-color: var(--orange);
    padding: 10px 12px;
    border-radius: 5px;
}

.container-contactUs{
    width: 100%;
    padding: 2rem 3rem;
    background-color: var(--white);
}


.containerBase{
    background-color: var(--white);
    overflow: hidden;
    height: 90vh;
    margin: 0px auto;
}

.containerBase div{
    padding-left: 5rem;
}

.containerBase img{
    object-fit: fill;
}

.containerBase span:nth-child(1){
    color: var(--orange);
    display: block;
    font-weight: 600;
    margin-top: 2.4rem;
    font-size: 1.6rem;
}

.containerBase h4{
    font-size: 4rem;
    font-weight: 800;

}

.containerBase span:nth-child(3){
    color: var(--orange);
    font-size: 2.2rem;
    font-weight: 300;
    margin: 10px 0px;
}

.containerBase p{
    font-size: 2rem;
    font-weight:100;
    margin-top: 2.3rem;
}

.containerBase a{
    display: inline-block;
    background-color: var(--orange);
    margin: 30px 0px;
    padding: 8px 20px;
}

/*services*/
.container-services{
    margin: 0px auto;
    width: 100%;
    padding: 5rem 5rem;
    background-color: var(--orange);
}


.container-services h5{
    font-size: 1.6rem;
    color: var(--azul);
}

.container-services p:nth-child(2){
    font-size: 3.4rem;
    font-weight: 800;
}

.container-services .infoText{
    font-size: 2rem;
    color: var(--white);
    margin-bottom: 5rem;
}

.container-services .all{
    background-color: var(--azul);
    display: table;
    margin-top: 2.3rem;
    padding: 8px 15px;
}

.container-services .tarjeta{
    min-height: 35rem;
    padding: 0px 8px;
    margin: 30px auto;
}

.container-services .tarjeta div{
    background-color: var(--sombra);
    box-shadow: 0px 1px 8px var(--azul);
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    transition: all .40s ease-in-out;
}


.container-services .tarjeta .izquierda:hover,
.container-services .tarjeta .medio:hover,
.container-services .tarjeta .derecha:hover{
    translate: 0px -20px;
    background-color: var(--azul);
    color: var(--white);
}

.container-services .tarjeta img{
    width: 100%;
    height: 19rem;
    min-height: 15rem;
    object-fit: cover;
}

.tarjeta{
    position: relative;
}

.tarjeta h4{
    display: table;
    position:absolute;
    background-color: var(--orange);
    padding: 8px 10px;
    top: 17rem;
    color: var(--white);
    left: 2rem;
    font-weight:500;
}

.tarjeta p{
    margin-top: 3rem;
    padding: 0px 20px;
    font-weight: 600;
    font-size: 1.5rem;
}

.tarjeta a{
    display: table;
    margin: 20px 10px;
    color: rgb(90, 89, 89);
    font-size: 1.7rem;
}

.izquierda:hover h4,
.derecha:hover h4,
.medio:hover h4,
.izquierda a,
.derecha a,
.medio a{
    background-color: var(--white);
    border-radius: 5px;
    color: var(--black);
    transition: all .30s ease-in-out;
}

.izquierda a:hover,
.derecha a:hover,
.medio a:hover{
    transform: scale(.90);
    transform : translate(20px ,10%);
    background-image: linear-gradient(var(--azul),var(--sombra));
    transition: all .30s ease-in-out;

}


/*clientes*/
.container-clientes{
    text-align: center;
    background-color: var(--sombra);
    padding: 6rem 0px;
}

.container-clientes .span{
    display: block;
    color: var(--orange);
    font-size:2rem;
    font-weight: 600;
}

.container-clientes h4{
    font-size: 3.3rem;
    font-weight: 900;
    margin-bottom: 7rem;
}

.container-clientes div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    margin: auto auto;
}

.container-clientes img{
    width: 40px;
    max-width: 60rem;
    flex-basis: 27em;
    flex-grow: 1;
    margin: 1.7rem;
    border-radius: 10px;
    box-shadow: 3px 3px 15px var(--azul);
}

/*agentes*/
.container-agents div{
    width: 100%;

}

@media(max-width:978px){

    .inactive{
        display: none!important;
    }

    .menuHam span{
        display: block;
    }

    .containerBase{
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .containerBase img{
        object-fit: cover;
        width: 100%;
        height: 65vh;
        max-width :80% ;
    }

}




